body {
	background-image: url(../images/lebowski1x3.png);
	color: #545952;
	font-family: 'Russo One', sans-serif;
	width: 100%;
	font-weight: 900px;
	font-size: 30px;
}

.navbar-header {
	padding-top: 25px;
}

#header:hover {
	color: orange;
}

nav.navbar.navbar-default {
	height: 100px;
	background-color: #313630;
	border-bottom: 3px solid orange;
}

.navbar-brand {
	font-size: 40px;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.custom-class-1 {
	color: #fff;
	text-align: center;
}

.custom-class-2 {
	color: #fff;
	text-align: center;
}

.giphy-embed {
	margin: auto;
}

.tingle-modal-box {
	width: auto;
	background-color: #313630;
}

.tingle-modal-box__footer {
	background-color: #313630;
}

.panel {
	color: #fff;
	opacity: 0.7;
	background: linear-gradient(#000, #869085);
	border: 3px solid orange;
}

#start {
	margin-bottom: 0px;
	font-size: 25px;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: orange;
}

.footer {
	height: 50px;
	background-color: #313630;
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 12px;
	padding-top: 15px;
	font-weight: 300px;
	border-top: 3px solid orange;
}

@media screen and (max-width: 991px) {
	
	nav.navbar.navbar-default {
	height: 140px;
	}
	
	.navbar-brand {
	font-size: 40px;
	line-height: 1.25;
	padding-top: 0px;
	}

	#statsdiv {
	margin-bottom: 40px;
	}

}