

body {
	background-image: url(../images/lebowski1x3.png);
	/*background-repeat: repeat-y;*/
	color: #545952;
	font-family: 'Russo One', sans-serif;
	width: 100%;
	font-weight: 900px;
	font-size: 30px;
}

.navbar-header {
	padding-top: 25px;
}

nav.navbar.navbar-default {
	height: 100px;
	background-color: #313630;
}

.navbar-brand {
	font-size: 40px;
}

.navbar-default .navbar-brand {
	color: #fff;
}

a:hover {
	color: orange;
}

.custom-class-1 {
	color: #aab7a8;
	text-align: center;
	/*background-color: #313630;*/
}

.custom-class-2 {
	color: #aab7a8;
	text-align: center;
	/*background-color: #80228e;*/
}

.giphy-embed {
	margin: auto;
}

.tingle-modal-box {
	width: auto;
	background-color: #313630;
}

.tingle-modal-box__footer {
	background-color: #313630;
}

.panel {
	/*background-color: #313630;*/
	color: #fff;
	opacity: 0.7;
	background: linear-gradient(#000, #869085);
}

#start {
	/*margin-top: 20px;*/
	margin-bottom: 0px;
	/*float: right;*/
	/*text-align: right;*/
	font-size: 25px;
}

.footer {
	height: 50px;
	background-color: #313630;
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 12px;
	padding-top: 15px;
	font-weight: 300px;
}