body {
	background-image: url(../images/lebowski1x3.png);
	color: #545952;
	font-family: 'Russo One', sans-serif;
	font-size: 30px;
	font-weight: 900px;
	width: 100%;
}

.navbar-header {
	padding-top: 25px;
}

#header:hover {
	color: orange;
}

nav.navbar.navbar-default {
	background-color: #313630;
	border-bottom: 3px solid orange;
	height: 100px;
}

.navbar-brand {
	font-size: 40px;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.custom-class-1 {
	color: #fff;
	text-align: center;
}

.custom-class-2 {
	color: #fff;
	text-align: center;
}

.giphy-embed {
	margin: auto;
}

.tingle-modal-box {
    background-color: #313630;
	width: auto;
}

.tingle-modal-box__footer {
	background-color: #313630;
}

.panel {
    background: linear-gradient(#000, #869085);
	border: 3px solid orange;
	color: #fff;
	opacity: 0.7;
}

#start {
	font-size: 25px;
	margin-bottom: 0px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: orange;
	text-decoration: none;
}

#message-area {
	text-align: center;
}

.footer {
    background-color: #313630;
	border-top: 3px solid orange;
	color: #fff;
	font-size: 12px;
	font-weight: 300px;
	height: 50px;
	text-align: center;
	padding-top: 15px;
	width: 100%;
}

@media screen and (max-width: 991px) {
	nav.navbar.navbar-default {
        height: 140px;
	}

	.navbar-brand {
        font-size: 40px;
        line-height: 1.25;
        padding-top: 0px;
	}

	#statsdiv {
        margin-bottom: 40px;
	}
}